{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="{% static 'core/img/devgym-logo.png'%}" alt="logo" srcset="" style="height: 70px; width: 70px; margin-left: 20px; margin-right: 20px;">
        </a>
        <div class="col-lg-10 col-md-10 col-sm-8"></div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <a href="">Logear</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="center">
            <h1>Test</h1>
        </div>
    </div>
</div>
{% endblock content %}